// ============================== //
// variables
// ============================== //
$path-fonts: 'INSERT URL PATH FONTS HERE';
$path-images: 'INSERT URL PATH IMGS HERE';
$path-icons: 'INSERT URL PATH ICONS HERE';
$browser-context: 16;
$scrollbar-size: 4px;

// ============================== //
// media queries
// ============================== //

$desktop: 128rem; //1280px
$tablet: 99.2rem; //992px
$small-tablet: 76.8rem; //768px
$mobile: 57.6rem; //576px
$small-mobile: 32rem; //320px
